.post {
    height: 600px;
    background: blue;
}

.header {
    height: 50px;
    background: yellow;
}
.photo {
    height: 300px;
    background: red;

}
.icons {
    height: 50px;
    background: gray;
}

.likes {
    height: 50px;
    background: orange;
}
.description {
    height: 150px;
    background: black;
}

.generalWidth{
    width: 450px;
}